# Project 2
## Step 1: Exploring your data.

##### Load your data in using Pandas and start to explore. Save all of your early exploration code here and include in your final submission.

In [505]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [506]:
df=pd.read_csv("../assets/billboard.csv")

##### Write a brief description of your data, and any interesting observations you've made thus far.

In [507]:
df.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [508]:
df.dtypes

year                 int64
artist.inverted     object
track               object
time                object
genre               object
date.entered        object
date.peaked         object
x1st.week            int64
x2nd.week          float64
x3rd.week          float64
x4th.week          float64
x5th.week          float64
x6th.week          float64
x7th.week          float64
x8th.week          float64
x9th.week          float64
x10th.week         float64
x11th.week         float64
x12th.week         float64
x13th.week         float64
x14th.week         float64
x15th.week         float64
x16th.week         float64
x17th.week         float64
x18th.week         float64
x19th.week         float64
x20th.week         float64
x21st.week         float64
x22nd.week         float64
x23rd.week         float64
                    ...
x47th.week         float64
x48th.week         float64
x49th.week         float64
x50th.week         float64
x51st.week         float64
x52nd.week         float64
x53rd.week         float64
x54th.week         float64
x55th.week         float64
x56th.week         float64
x57th.week         float64
x58th.week         float64
x59th.week         float64
x60th.week         float64
x61st.week         float64
x62nd.week         float64
x63rd.week         float64
x64th.week         float64
x65th.week         float64
x66th.week         float64
x67th.week         float64
x68th.week         float64
x69th.week         float64
x70th.week         float64
x71st.week         float64
x72nd.week         float64
x73rd.week         float64
x74th.week         float64
x75th.week         float64
x76th.week         float64
dtype: object

## Step 2: Clean your data.

##### Do some rudimentary cleaning. Rename any columns that are poorly named, shorten any strings that may be too long, check for missing values (and replace them if it makes sense to do so). Explain your rationale for the way you choose to "impute" the missing data.

In [509]:
# Dropping the years column, its redundant
dfCl = df.drop("year", axis=1)
dfCl.head()

,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [510]:
# Changing headers to get rid of periods
# Change time to timeInS -- convert time to seconds later
dfCl.rename(columns={"artist.inverted": "artist", "time" : "timeInS","date.entered" : "dateEntered","date.peaked" : "datePeaked"}, inplace=True)
dfCl.head()

,artist,track,timeInS,genre,dateEntered,datePeaked,x1st.week,x2nd.week,x3rd.week,x4th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [511]:
#dfCl.timeInS

In [512]:
#convert the object values in the time column to seconds
def makeTimeToSeconds(val):
    val = val.split(":")
    minutes = val[0]
    seconds = val[1]
    duration = (int(minutes)*60) + int(seconds)
    return duration
    

dfCl["timeInS"] = dfCl.timeInS.apply(makeTimeToSeconds)
#dfCl.drop("timeInS", inplace = True)
dfCl.head()

,artist,track,timeInS,genre,dateEntered,datePeaked,x1st.week,x2nd.week,x3rd.week,x4th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,218,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",258,Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,247,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,225,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),218,Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [513]:
dfCl.head()

,artist,track,timeInS,genre,dateEntered,datePeaked,x1st.week,x2nd.week,x3rd.week,x4th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,218,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",258,Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,247,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,225,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),218,Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [514]:
#change the dates peaked/entered columns from an object to datetime
dfCl["dateEntered"] = pd.to_datetime(dfCl['dateEntered'])
dfCl["datePeaked"] = pd.to_datetime(dfCl['datePeaked'])

dfCl.dtypes

artist                 object
track                  object
timeInS                 int64
genre                  object
dateEntered    datetime64[ns]
datePeaked     datetime64[ns]
x1st.week               int64
x2nd.week             float64
x3rd.week             float64
x4th.week             float64
x5th.week             float64
x6th.week             float64
x7th.week             float64
x8th.week             float64
x9th.week             float64
x10th.week            float64
x11th.week            float64
x12th.week            float64
x13th.week            float64
x14th.week            float64
x15th.week            float64
x16th.week            float64
x17th.week            float64
x18th.week            float64
x19th.week            float64
x20th.week            float64
x21st.week            float64
x22nd.week            float64
x23rd.week            float64
x24th.week            float64
                    ...
x47th.week            float64
x48th.week            float64
x49th.week            float64
x50th.week            float64
x51st.week            float64
x52nd.week            float64
x53rd.week            float64
x54th.week            float64
x55th.week            float64
x56th.week            float64
x57th.week            float64
x58th.week            float64
x59th.week            float64
x60th.week            float64
x61st.week            float64
x62nd.week            float64
x63rd.week            float64
x64th.week            float64
x65th.week            float64
x66th.week            float64
x67th.week            float64
x68th.week            float64
x69th.week            float64
x70th.week            float64
x71st.week            float64
x72nd.week            float64
x73rd.week            float64
x74th.week            float64
x75th.week            float64
x76th.week            float64
dtype: object

In [515]:
#remove the x from the week headers
#dfCl.columns = [x.strip("x") for x in dfCl.columns]

In [516]:
dfCl.head()

,artist,track,timeInS,genre,dateEntered,datePeaked,x1st.week,x2nd.week,x3rd.week,x4th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,218,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",258,Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,247,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,225,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),218,Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Using Pandas' built in `melt` function, pivot the weekly ranking data to be long rather than wide. As a result, you will have removed the 72 'week' columns and replace it with two: Week and Ranking. There will now be multiple entries for each song, one for each week on the Billboard rankings.

In [517]:
dfClm = pd.melt(dfCl,
                id_vars =["artist","track","timeInS","genre","dateEntered","datePeaked"], 
                value_vars=list(dfCl.ix[:,"x1st.week":"x76th.week"]),
                var_name = "week",
                value_name= "chart pos"
               )

dfClm.head()

,artist,track,timeInS,genre,dateEntered,datePeaked,week,chart pos
0,Destiny's Child,Independent Women Part I,218,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,Santana,"Maria, Maria",258,Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,Savage Garden,I Knew I Loved You,247,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,Madonna,Music,225,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),218,Rock,2000-08-05,2000-10-14,x1st.week,57.0

In [518]:
#continued cleaning
#changing weeks to int

def cleanWeekColumn(val):
    #split value into a list on the '.': x1st.week to [x1st,week] and select x1st(index 0)
    val = val.split(".")[0] 
    #create a list of strings to be removed
    badChars = ["x", "st","th","nd","rd"]
    #loop iterating over unwanted characters
    for char in badChars:
        #and replacing any found with "nothing" 
        val = val.replace(char,"")
    #return the replace value
    return int(val)
#apply the cleaning function to all cells in the column week.    
dfClm["week"] = dfClm.week.apply(cleanWeekColumn)

In [523]:
#dfClm.to_csv("../assets/bbclean.csv")

In [529]:
dfClm.head()

,artist,track,timeInS,genre,dateEntered,datePeaked,week,chart pos
0,Destiny's Child,Independent Women Part I,218,Rock,2000-09-23,2000-11-18,1,78.0
1,Santana,"Maria, Maria",258,Rock,2000-02-12,2000-04-08,1,15.0
2,Savage Garden,I Knew I Loved You,247,Rock,1999-10-23,2000-01-29,1,71.0
3,Madonna,Music,225,Rock,2000-08-12,2000-09-16,1,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),218,Rock,2000-08-05,2000-10-14,1,57.0

## Step 3: Visualize your data.

##### Using a plotting utility of your choice (Tableau or python modules or both), create visualizations that will provide context to your data. There is no minimum or maximum number of graphs you should generate, but there should be a clear and consistent story being told. Give insights to the distribution, statistics, and relationships of the data.

In [531]:
dfClm.describe()

            timeInS          week    chart pos
count  24092.000000  24092.000000  5307.000000
mean     242.425868     38.500000    51.052384
std       42.335564     21.937866    28.966198
min      156.000000      1.000000     1.000000
25%      219.000000     19.750000          NaN
50%      236.000000     38.500000          NaN
75%      257.000000     57.250000          NaN
max      470.000000     76.000000   100.000000

In [570]:
plt.scatter(dfClm["week"],dfClm["chart pos"],s=dfClm['chart pos'])
plt.xlabel('Weeks')
plt.ylabel('Ranking')
plt.show()

TypeError: 'str' object is not callable

In [560]:
dfClm

,artist,track,timeInS,genre,dateEntered,datePeaked,week,chart pos
0,Destiny's Child,Independent Women Part I,218,Rock,2000-09-23,2000-11-18,1,78.0
1,Santana,"Maria, Maria",258,Rock,2000-02-12,2000-04-08,1,15.0
2,Savage Garden,I Knew I Loved You,247,Rock,1999-10-23,2000-01-29,1,71.0
3,Madonna,Music,225,Rock,2000-08-12,2000-09-16,1,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),218,Rock,2000-08-05,2000-10-14,1,57.0
5,Janet,Doesn't Really Matter,257,Rock,2000-06-17,2000-08-26,1,59.0
6,Destiny's Child,Say My Name,271,Rock,1999-12-25,2000-03-18,1,83.0
7,"Iglesias, Enrique",Be With You,216,Latin,2000-04-01,2000-06-24,1,63.0
8,Sisqo,Incomplete,232,Rock,2000-06-24,2000-08-12,1,77.0
9,Lonestar,Amazed,265,Country,1999-06-05,2000-03-04,1,81.0
10,N'Sync,It's Gonna Be Me,190,Rock,2000-05-06,2000-07-29,1,82.0
11,"Aguilera, Christina",What A Girl Wants,198,Rock,1999-11-27,2000-01-15,1,71.0
12,Vertical Horizon,Everything You Want,241,Rock,2000-01-22,2000-07-15,1,70.0
13,Creed,With Arms Wide Open,232,Rock,2000-05-13,2000-11-11,1,84.0
14,Aaliyah,Try Again,243,Rock,2000-03-18,2000-06-17,1,59.0
15,matchbox twenty,Bent,252,Rock,2000-04-29,2000-07-22,1,60.0
16,"Carey, Mariah",Thank God I Found You,254,Rock,1999-12-11,2000-02-19,1,82.0
17,"Hill, Faith",Breathe,244,Rap,1999-11-06,2000-04-22,1,81.0
18,Mya,Case Of The Ex (Whatcha Gonna Do),230,Rock,2000-08-19,2000-12-02,1,72.0
19,Dream,He Loves U Not,223,Rock,2000-09-30,2000-12-30,1,99.0
20,"Braxton, Toni",He Wasn't Man Enough,261,Rock,2000-03-18,2000-05-06,1,63.0
21,"Anthony, Marc",You Sang To Me,230,Latin,2000-02-26,2000-06-03,1,77.0
22,98ï¿½,Give Me Just One Night (Una Noche),204,Rock,2000-08-19,2000-09-30,1,51.0
23,Destiny's Child,Jumpin' Jumpin',228,Rock,2000-05-13,2000-08-19,1,74.0
24,3 Doors Down,Kryptonite,233,Rock,2000-04-08,2000-11-11,1,81.0
25,Sisqo,Thong Song,245,Rock,2000-01-29,2000-05-20,1,74.0
26,"Aguilera, Christina",I Turn To You,240,Rock,2000-04-15,2000-07-01,1,50.0
27,"Houston, Whitney",My Love Is Your Love,256,Rock,1999-09-04,2000-01-08,1,81.0
28,Joe,I Wanna Know,297,Rock,2000-01-01,2000-07-01,1,94.0
29,"Jordan, Montell",Get It On.. Tonite,274,Rap,1999-10-23,2000-02-12,1,92.0
...,...,...,...,...,...,...,...,...
24062,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,195,R&B,2000-09-02,2000-09-09,76,NaN
24063,Madison Avenue,Don't Call Me Baby,224,Electronica,2000-07-08,2000-09-16,76,NaN
24064,Eve,Got It All,228,Rap,2000-07-15,2000-07-22,76,NaN
24065,Limp Bizkit,Re-Arranged,248,Rock,1999-12-04,2000-02-05,76,NaN
24066,"Spencer, Tracie",Still In My Heart,251,Rock,2000-03-04,2000-03-11,76,NaN
24067,Nu Flavor,3 Little Words,234,R&B,2000-06-03,2000-06-17,76,NaN
24068,Tamar,If You Don't Wanna Love Me,242,Rock,2000-03-25,2000-04-15,76,NaN
24069,"Levert, Gerald",Baby U Are,250,R&B,2000-08-19,2000-08-26,76,NaN
24070,"Hart, Beth",L.A. Song,227,Country,1999-11-27,2000-01-15,76,NaN
24071,"Diffie, Joe",The Quittin' Kind,203,Country,2000-01-01,2000-01-22,76,NaN
24072,Funkmaster Flex,Do You,254,Rap,2000-11-11,2000-12-02,76,NaN
24073,"Price, Kelly",Love Sets You Free,226,Rock,2000-05-13,2000-05-20,76,NaN
24074,En Vogue,Riddle,310,Rock,2000-06-17,2000-06-17,76,NaN
24075,"Herndon, Ty",No Mercy,283,Country,2000-03-18,2000-05-06,76,NaN
24076,Anastacia,I'm Outta Love,241,Pop,2000-04-01,2000-04-01,76,NaN
24077,Trina,Pull Over,178,Rap,2000-09-09,2000-09-16,76,NaN
24078,Lil' Mo,Ta Da,257,Rap,2000-08-12,2000-09-16,76,NaN
24079,A*Teens,Dancing Queen,224,Pop,2000-07-08,2000-07-29,76,NaN
24080,"Sheist, Shade",Where I Wanna Be,256,Rap,2000-11-11,2000-11-18,76,NaN
24081,De La Soul,All Good?,302,Rap,2000-12-23,2000-12-23,76,NaN
24082,"Larrieux, Amel",Get Up,242,R&B,2000-03-04,2000-03-11,76,NaN
24083,"Braxton, Toni",Spanish Guitar,264,Rock,2000-12-02,2000-12-02,76,NaN
24084,Tuesday,I Know,246,Rock,2000-12-30,2000-12-30,76,NaN
24085,LL Cool J,Imagine That,240,Rap,2000-08-12,2000-08-19,76,NaN
24086,Master P,Souljas,213,Rap,2000-11-18,2000-11-18,76,NaN
24087,Ghostface Killah,Cherchez LaGhost,184,R&B,2000-08-05,2000-08-05,76,NaN
24088,"Smith, Will",Freakin' It,238,Rap,2000-02-12,2000-02-12,76,NaN
24089,Zombie Nation,Kernkraft 400,210,Rock,2000-09-02,2000-09-02,76,NaN
24090,"Eastsidaz, The",Got Beef,238,Rap,2000-07-01,2000-07-01,76,NaN
24091,Fragma,Toca's Miracle,202,R&B,2000-10-28,2000-10-28,76,NaN

In [ ]:
dfClTs = pd.DataFrame(dfClm, columns = "dateEntered",)
sns.tsplot()

## Step 4: Create a Problem Statement.

##### Having explored the data, come up with a problem statement for this data set. You can feel free to introduce data from any other source to support your problem statement, just be sure to provide a link to the origin of the data. Once again- be creative!

## Step 5: Brainstorm your Approach.
##### In bullet-list form, provide a proposed approach for evaluating your problem statement. This can be somewhat high-level, but start to think about ways you can massage the data for maximum efficacy.

## Step 6: Create a blog post with your code snippets and visualizations.
##### Data Science is a growing field, and the Tech industry thrives off of collaboration and sharing of knowledge. Blogging is a powerful means for pushing the needle forward in our field. Using your blogging platform of choice, create a post describing each of the 5 steps above. Rather than writing a procedural text, imagine you're describing the data, visualizations, and conclusions you've arrived at to your peers. Aim for a minimum of 500 words.

## BONUS: The Content Managers working for the Podcast Publishing Company have recognized you as a thought leader in your field. They've asked you to pen a white paper (minimum 500 words) on the subject of 'What It Means To Have Clean Data'. This will be an opinion piece read by a wide audience, so be sure to back up your statements with real world examples or scenarios.

##### Hint: To get started, look around on the internet for articles, blog posts, papers, youtube videos, podcasts, reddit discussions, anything that will help you understand the challenges and implications of dealing with big data. This should be a personal reflection on everything you've learned this week, and the learning goals that have been set out for you going forward.