In [2]:
import pandas as pd

### Lab

In [3]:
df_a = pd.DataFrame([{"a": 1, "b": 4}, {"a": 2, "b": 5}, {"a": 3, "b": 6}, 
                    {"c": 1}])
df_a

     a    b    c
0  1.0  4.0  NaN
1  2.0  5.0  NaN
2  3.0  6.0  NaN
3  NaN  NaN  1.0

In [4]:
df_b = pd.DataFrame([{"c": 2, "d": 7}, {"c": 3, "d": 8}])
df_b

   c  d
0  2  7
1  3  8

In [84]:
# left join
pd.merge(df_a,df_b, how="left", on="c" )#merge on the common col

     a    b    c   d
0  1.0  4.0  NaN NaN
1  2.0  5.0  NaN NaN
2  3.0  6.0  NaN NaN
3  NaN  NaN  1.0 NaN

In [86]:
# right join
pd.merge(df_a, df_b, on ="c", how ="right")

    a   b  c  d
0 NaN NaN  2  7
1 NaN NaN  3  8

In [87]:
# inner join
pd.merge(df_a, df_b, on = 'c', how="inner", )

Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [88]:
# outer join
pd.merge(df_a, df_b, on='c', how="outer", )

     a    b    c    d
0  1.0  4.0  NaN  NaN
1  2.0  5.0  NaN  NaN
2  3.0  6.0  NaN  NaN
3  NaN  NaN  1.0  NaN
4  NaN  NaN  2.0  7.0
5  NaN  NaN  3.0  8.0

### Bonus

In [67]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                  'key2': ['one', 'two', 'one'],
                  'lval': [1, 2, 3]})
left

  key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3

In [69]:
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                   'key2': ['one', 'one', 'one', 'two'],
                   'rval': [4, 5, 6, 7]})
right

  key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7

In [89]:
# left join
pd.merge(left,right, how = "left",)

  key1 key2  lval  rval
0  foo  one     1   4.0
1  foo  one     1   5.0
2  foo  two     2   NaN
3  bar  one     3   6.0

In [90]:
# right join
pd.merge(left,right, how ="right", )

  key1 key2  lval  rval
0  foo  one   1.0     4
1  foo  one   1.0     5
2  bar  one   3.0     6
3  bar  two   NaN     7

In [80]:
# inner join
pd.merge(left,right, how = "inner",)

  key1 key2  lval  rval
0  foo  one     1     4
1  foo  one     1     5
2  bar  one     3     6

In [81]:
# outer join
pd.merge(left,right, how = "outer", )

  key1 key2  lval  rval
0  foo  one   1.0   4.0
1  foo  one   1.0   5.0
2  foo  two   2.0   NaN
3  bar  one   3.0   6.0
4  bar  two   NaN   7.0