# Project 2
## Step 1: Exploring your data.

##### Load your data in using Pandas and start to explore. Save all of your early exploration code here and include in your final submission.

In [164]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [165]:
df=pd.read_csv("../assets/billboard.csv")

##### Write a brief description of your data, and any interesting observations you've made thus far.

In [166]:
#df.head()

## Step 2: Clean your data.

##### Do some rudimentary cleaning. Rename any columns that are poorly named, shorten any strings that may be too long, check for missing values (and replace them if it makes sense to do so). Explain your rationale for the way you choose to "impute" the missing data.

In [167]:
# Dropping the years column, its redundant
dfCl = df.drop("year", axis=1)
dfCl.head()

,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [168]:
# Changing artist header to be shorter -- artist
# Change time to timeInS -- convert time to seconds later
dfCl.rename(columns={"artist.inverted": "artist", "time" : "timeInS"}, inplace=True)
dfCl.head()

,artist,track,timeInS,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
#dfCl.timeInS

In [170]:
#convert the object values in the time column to seconds
def makeTimeToSeconds(val):
    val = val.split(":")
    minutes = val[0]
    seconds = val[1]
    duration = (int(minutes)*60) + int(seconds)
    return duration
    

dfCl["timeInS"] = dfCl.timeInS.apply(makeTimeToSeconds)
#dfCl.drop("timeInS", inplace = True)

In [171]:
dfCl.head()

,artist,track,timeInS,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,218,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",258,Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,247,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,225,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),218,Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [172]:
#change the dates peaked/entered columns from an object to datetime
dfCl["date.entered"] = pd.to_datetime(dfCl['date.entered'])
dfCl["date.peaked"] = pd.to_datetime(dfCl['date.peaked'])

dfCl.dtypes

artist                  object
track                   object
timeInS                  int64
genre                   object
date.entered    datetime64[ns]
date.peaked     datetime64[ns]
x1st.week                int64
x2nd.week              float64
x3rd.week              float64
x4th.week              float64
x5th.week              float64
x6th.week              float64
x7th.week              float64
x8th.week              float64
x9th.week              float64
x10th.week             float64
x11th.week             float64
x12th.week             float64
x13th.week             float64
x14th.week             float64
x15th.week             float64
x16th.week             float64
x17th.week             float64
x18th.week             float64
x19th.week             float64
x20th.week             float64
x21st.week             float64
x22nd.week             float64
x23rd.week             float64
x24th.week             float64
                     ...
x47th.week             float64
x48th.week             float64
x49th.week             float64
x50th.week             float64
x51st.week             float64
x52nd.week             float64
x53rd.week             float64
x54th.week             float64
x55th.week             float64
x56th.week             float64
x57th.week             float64
x58th.week             float64
x59th.week             float64
x60th.week             float64
x61st.week             float64
x62nd.week             float64
x63rd.week             float64
x64th.week             float64
x65th.week             float64
x66th.week             float64
x67th.week             float64
x68th.week             float64
x69th.week             float64
x70th.week             float64
x71st.week             float64
x72nd.week             float64
x73rd.week             float64
x74th.week             float64
x75th.week             float64
x76th.week             float64
dtype: object

In [173]:
#remove the x from the week headers
dfCl.columns = [x.strip("x") for x in dfCl.columns]

In [174]:
dfCl.head()

,artist,track,timeInS,genre,date.entered,date.peaked,1st.week,2nd.week,3rd.week,4th.week,...,67th.week,68th.week,69th.week,70th.week,71st.week,72nd.week,73rd.week,74th.week,75th.week,76th.week
0,Destiny's Child,Independent Women Part I,218,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",258,Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,247,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,225,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),218,Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Using Pandas' built in `melt` function, pivot the weekly ranking data to be long rather than wide. As a result, you will have removed the 72 'week' columns and replace it with two: Week and Ranking. There will now be multiple entries for each song, one for each week on the Billboard rankings.

In [183]:
dfClm = pd.melt(dfCl,
                id_vars =["artist","track","timeInS","date.entered","date.peaked"], 
                value_vars=list(dfCl.ix[:,"1st.week":"76th.week"]),
                var_name = "week",
                value_name= "chart pos"
               )



dfClm.head()

,artist,track,timeInS,date.entered,date.peaked,week,chart pos
0,Destiny's Child,Independent Women Part I,218,2000-09-23,2000-11-18,1st.week,78.0
1,Santana,"Maria, Maria",258,2000-02-12,2000-04-08,1st.week,15.0
2,Savage Garden,I Knew I Loved You,247,1999-10-23,2000-01-29,1st.week,71.0
3,Madonna,Music,225,2000-08-12,2000-09-16,1st.week,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),218,2000-08-05,2000-10-14,1st.week,57.0

In [184]:
#continued cleaning
#changing weeks to integer function

def cleanWeekColumn(val):
    #split value into a list on the '.': 1st.week to [1st,week] and select 1st(index 0)
    val = val.split(".")[0] 
    #create a list of strings to be removed
    badChars = ["st","th","nd","rd"]
    #loop iterating over unwanted characters
    for char in badChars:
        #and replacing any found with "nothing" 
        val = val.replace(char,"")
    #return the replace value
    return int(val)
#apply the cleaning function to all cells in the column week.    
dfClm["week"] = dfClm.week.apply(cleanWeekColumn)

In [206]:
#dfClm.sort_values(by=["artist","track"])
dfClm.to_csv("../assets/bbclean.csv")

## Step 3: Visualize your data.

##### Using a plotting utility of your choice (Tableau or python modules or both), create visualizations that will provide context to your data. There is no minimum or maximum number of graphs you should generate, but there should be a clear and consistent story being told. Give insights to the distribution, statistics, and relationships of the data.

## Step 4: Create a Problem Statement.

##### Having explored the data, come up with a problem statement for this data set. You can feel free to introduce data from any other source to support your problem statement, just be sure to provide a link to the origin of the data. Once again- be creative!

## Step 5: Brainstorm your Approach.
##### In bullet-list form, provide a proposed approach for evaluating your problem statement. This can be somewhat high-level, but start to think about ways you can massage the data for maximum efficacy.

## Step 6: Create a blog post with your code snippets and visualizations.
##### Data Science is a growing field, and the Tech industry thrives off of collaboration and sharing of knowledge. Blogging is a powerful means for pushing the needle forward in our field. Using your blogging platform of choice, create a post describing each of the 5 steps above. Rather than writing a procedural text, imagine you're describing the data, visualizations, and conclusions you've arrived at to your peers. Aim for a minimum of 500 words.

## BONUS: The Content Managers working for the Podcast Publishing Company have recognized you as a thought leader in your field. They've asked you to pen a white paper (minimum 500 words) on the subject of 'What It Means To Have Clean Data'. This will be an opinion piece read by a wide audience, so be sure to back up your statements with real world examples or scenarios.

##### Hint: To get started, look around on the internet for articles, blog posts, papers, youtube videos, podcasts, reddit discussions, anything that will help you understand the challenges and implications of dealing with big data. This should be a personal reflection on everything you've learned this week, and the learning goals that have been set out for you going forward.